@keyframes pulse {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

.outboxPulse{
  background: #fff;
  min-width: 500px;
  height: 100%;
  animation: pulse 2.5s infinite;
  backdrop-filter: blur(30px);
  opacity: 0.5;
}
.innerBox {
  height: 100px;
  backdrop-filter: blur(30px);
  background-color: #d1d5db;
  min-width: 500px;
  height: 100%;
}